$light : #009bfa;
$dark: #193989;
$dark2: #001254;

$card-event1 : #1450d2;
$card-event2 : #01a49c;
$card-event3 : #009bfa;

$bg-body: #ebebeb;
$bg-about: #1450d2;
$bg-footer: #707070;

html, body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Poppins' , sans-serif;
    background: $bg-body;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

img {
    width: 100%;
}


li {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;

    &:hover{
        text-decoration: none;
    }
}

.margin {
    width: 80%;
    margin: 0 auto;
}

.flex-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}